<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website</title>
    <link rel="icon" type="image/x-icon" href="public/images/DAGALINK.png">
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
</head>

<body class="background-image d-flex flex-column min-vh-100 justify-content-between">

<header class="d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-md-between py-1 mb-4 border-bottom bg-white">
    <section class="d-flex flex-wrap justify-content-center">
        <a href="/" class="">
            <img src="images/DAGA.svg" alt="Logo" class="logo mx-4 img-fluid">
        </a>
    </section>

    <ul class="nav justify-content-center fs-5 d-flex">
        <li><a href="/" class="nav-link px-3 link-dark">A propos</a></li>
        <li><a href="/simulateur" class="nav-link px-3 link-dark">Simulateur</a></li>
    </ul>
    <section class="text-end d-flex justify-content-center align-items-center mx-4">
        <aside>
            <a href="/contact">
                <button class="btn btn-dark mx-2 my-3">Contacter</button>
            </a>
        </aside>
    </section>
</header>

<main class="bg-white mx-xxl-20 mx-xl-15 mx-lg-10 mx-md-5 mx-3 flex-column d-flex flex-wrap align-items-center border-radius">
    <section class="flex-column flex flex-wrap mx-md-5 mx-2 my-4">
        <h1 class="d-flex h1 py-2 mb-4">Contact</h1>
        <form action="post" class="d-flex flex-column">
            <section class="nav d-flex mb-3">
                <label>Mail :
                    <input class="form-control mt-2 text-box" type="text">
                </label>
            </section>
            <section class="d-flex my-3">
                <label>Prenom NOM :
                    <input class="form-control mt-2 text-box" type="text">
                </label>
            </section>
            <section class="d-flex my-3">
                <label>Message :
                    <textarea class="form-control mt-2 text-mail" type="text"></textarea>
                </label>
            </section>
            <section class="d-flex mt-4">
                <aside>
                    <a href="/">
                        <button class="btn btn-secondary my-3">Envoyer le message</button>
                    </a>
                </aside>
            </section>
        </form>
    </section>
</main>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-4 border-top bg-dark">
    <article class="my-3">
        <p class="text-secondary my-auto">© 2023 Copyright: DAGA.fr</p>
    </article>
</footer>
<script src="js/bootstrap.js"></script>
</body>

</html>