<!DOCTYPE html>


<html lang="fr">

<head>
    <!-- metadonnées -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- titre de la page  -->
    <title>Website</title>
    <!-- chemin du fichier css -->
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <!-- tete de la page -->
    <link rel="icon" href="images/DAGALINK.png">
</head>

<body class="background-image d-flex flex-column min-vh-100 justify-content-between">
<!-- haut de la page -->
<header class="d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-md-between py-1 mb-4 border-bottom bg-white">
    <section class="d-flex flex-wrap justify-content-center">
        <!-- lien vers index.ejs en cliquant sur l'image DAGA.svg -->
        <a href="/" class="">
            <img src="images/DAGA.svg" alt="Logo" class="logo mx-4 img-fluid">
        </a>
    </section>
    <!-- lien vers index.ejs et store.ejs -->
    <ul class="nav justify-content-center fs-5 d-flex">
        <li><a href="/" class="nav-link px-3 link-dark">A propos</a></li>
        <li><a href="/store" class="nav-link px-3 link-dark">Store</a></li>
    </ul>
    <!-- lien vers la page contact.ejs et panier.ejs -->
    <section class="text-end d-flex justify-content-center align-items-center mx-4">
        <ul class="nav justify-content-center fs-5 d-flex">
            <li><a class="btn-close:disabled" href="/contact">
                    <button class="btn btn-dark mx-2 my-3">Contacter</button>
                </a></li>
            <li><a class="btn-close:disabled" href="/panier">
                    <button class="btn btn-dark mx-2 my-3">Panier</button>
                </a></li>
        </ul>

    </section>
</header>
<!-- corp de la page -->
<main class="bg-white mx-xxl-20 mx-xl-15 mx-lg-10 mx-md-5 mx-3 flex-column d-flex flex-wrap border-radius">
    <!-- titre de la page -->
    <h1 class="h1 text-center py-4">A propos</h1>
    <!-- paragraphe de présentation -->
    <p class="lead text-center mx-xxl-10 mx-xl-7.5 mx-lg-6 mx-md-5 mx-4 px-0">Bienvenue chez DAGA, votre partenaire informatique de confiance. Depuis notre création, nous nous engageons à fournir à nos clients des solutions informatiques efficaces et innovantes pour répondre à leurs besoins en constante évolution. Nous sommes fiers de notre approche personnalisée et collaborative, qui nous permet de créer des solutions sur mesure qui répondent à leurs exigences uniques. Chez DAGA, nous sommes passionnés par l'informatique et nous nous efforçons constamment de rester à la pointe de la technologie. Contactez-nous dès aujourd'hui pour discuter de vos besoins informatiques.</p>
    <!-- liens vers contact.ejs et store.ejs -->
    <section class="text-center justify-content-center my-2 px-0">
        <a href="/contact"><button  class="btn btn-lg btn-secondary my-4 me-sm-2 me-1">Contacter</button></a>
        <a href="/store"><button class="btn btn-lg btn-secondary my-4 ms-sm-2 ms-1">Store</button></a>
    </section>
</main>
<!-- pied de page -->
<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-4 border-top bg-dark">
    <article class="my-3">
        <!-- paragraphe -->
        <p class="text-secondary my-auto">© 2023 Copyright: DAGA.fr</p>
    </article>
</footer>
</body>

</html>