<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css">
    <link rel="icon" href="images/DAGALINK.png">
</head>

<body class="background-image d-flex flex-column min-vh-100 justify-content-between">

<header class="d-flex flex-column flex-md-row flex-wrap align-items-center justify-content-md-between py-1 mb-4 border-bottom bg-white">
    <section class="d-flex flex-wrap justify-content-center">
        <a href="/" class="">
            <img src="images/DAGA.svg" alt="Logo" class="logo mx-4 img-fluid">
        </a>
    </section>

    <ul class="nav justify-content-center fs-5 d-flex">
        <li><a href="/" class="nav-link px-3 link-dark">A propos</a></li>
        <li><a href="/simulateur" class="nav-link px-3 link-dark">Store</a></li>
    </ul>
    <section class="text-end d-flex justify-content-center align-items-center mx-4">
        <ul class="nav justify-content-center fs-5 d-flex">
            <li><a class="btn-close:disabled" href="/contact">
                    <button class="btn btn-dark mx-2 my-3">Contacter</button>
                </a></li>
            <li><a class="btn-close:disabled" href="/panier">
                    <button class="btn btn-dark mx-2 my-3">Panier</button>
                </a></li>
        </ul>

    </section>
</header>

<main class="bg-white mx-xxl-20 mx-xl-15 mx-lg-10 mx-md-5 mx-3 flex-column d-flex flex-wrap border-radius">
    <section class="text-center py-4">
        <h1 class="h1">Panier</h1>
    </section>
    <section class="flex-md-row my-5 border">
        <% if (orders.length > 0) { %>
        <ul class="px-3 flex-wrap d-flex justify-md-content-between justify-content-center flex-column">
            <% for (let i = 0; i < orders.length; i++) { %>
            <li class="d-flex flex-row align-items-center justify-content-center px-2 py-2 mt-2 mx-2">
                <img class="" src="images/<%=orders[i].item_name%>_panier.jpg">
                <h2 class="mx-5 h4">PC pour <%= orders[i].item_name %></h2>
                <p class="h5"><%= orders[i].price %>€</p>
            </li>
            <% } %>
        </ul>
        <% } else { %>
            <ul class="px-3 flex-wrap d-flex justify-md-content-between justify-content-center flex-md-row flex-column">
                <li class="d-flex flex-column align-items-center px-2 py-2 mt-2 mx-2">
                    <p class="h3">Votre panier est vide!</p>
                </li>
            </ul>
            <%}%>
            <p class="px-3 flex-wrap d-flex justify-md-content-between justify-content-center flex-md-row flex-column">Total: <%= orders.reduce((acc, order) => acc + parseFloat(order.price), 0) %>€</p>
    </section>
    <section class="text-end d-flex justify-content-center align-items-center mx-4">
        <form method="post" action="/clear-orders">
            <button class="btn btn-dark mx-2 my-3" type="submit">clear</button>
        </form>
        <form action="/process-order" method="post">
            <button type="submit" class="btn btn-success mx-2 my-3">Commander</button>
        </form>

    </section>


</main>

<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-4 border-top bg-dark">
    <article class="my-3">
        <p class="text-secondary my-auto">© 2023 DAGA.fr</p>
    </article>
</footer>
<script src="public/javascripts/script.js"></script>
</body>

</html>
